{{template "header" .}}
<h1>Day 3: Doccker on Raspberry Pi 5</h1>

The docker set up on Raspberry pi is simple, just follow the official instruction from docker, here is a simplified version.

<h2>Step 1: install software</h2>
<pre class="prettyprint linenums">
sudo apt-get update
sudo apt-get install ca-certificates curl
sudo install -m 0755 -d /etc/apt/keyrings
sudo curl -fsSL https://download.docker.com/linux/debian/gpg -o /etc/apt/keyrings/docker.asc
sudo chmod a+r /etc/apt/keyrings/docker.asc

echo \
  "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/debian \
  $(. /etc/os-release && echo "$VERSION_CODENAME") stable" | \
  sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
sudo apt-get update
sudo apt-get install docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
</pre>

<h2>Step 2: Test</h2>
<pre class="prettyprint linenums">
sudo docker run hello-world
</pre>

<h2>Step 3: Allow run as pi</h2>
By default, only root user can run docker command, to allow pi run the docker command:
<pre class="prettyprint linenums">
sudo usermod -aG docker $USER
newgrp docker
docker run hello-world
</pre>

<a href="/pi/earn">Next: Day 4</a>
{{template "footer" .}}
