{{template "header" .}}
<h1>Free Oracle VM</h1>

<h2>Create server</h2>
* Choose Ubuntu
* Paste .ssh/id_rsa.pub
* Ignore the estimate cost, just click create
* ssh from raspberry pi

<h2>Install Docker</h2>
This is the same as raspberry pi, see <a href="/pi/docker">here</a>

<h2>Start nginx and alist</h2>

<h3>Stat docker containers</h3>
<pre class="prettyprint linenums">
mkdir -p docker/{service,data} && cd docker/service
cat &gt; docker-compose.yaml &lt;&lt;EOF
version: '3.3'
services:
    nginx:
        image: 'jc21/nginx-proxy-manager:latest'
        container_name: nginx
        restart: unless-stopped
        ports:
          - '80:80'
          - '81:81'
          - '443:443'
        volumes:
          - ../data/nginx_data:/data
          - ../data/letsencrypt:/etc/letsencrypt
    alist:
        image: 'xhofe/alist:latest'
        container_name: alist
        volumes:
            - ../data/alist:/opt/alist/data
            - /ssd/share/book:/book:ro
        network_mode: 'host'
        environment:
            - PUID=1001
            - PGID=1001
            - UMASK=022
        restart: unless-stopped
EOF
docker compose up -d
docker exec -it alist ./alist admin set changeme
</pre>

<h3>Setup Ingress Rules</h3>
Allow traffic to port 80 81 443

<h3>Setup iptables</h3>
<pre class="prettyprint linenums">
sudo iptables -I INPUT 6 -m state --state NEW -p tcp --dport 5244  -j ACCEPT
sudo iptables -I INPUT 6 -m state --state NEW -p tcp --dport 80  -j ACCEPT
sudo iptables -I INPUT 6 -m state --state NEW -p tcp --dport 81  -j ACCEPT
sudo iptables -I INPUT 6 -m state --state NEW -p tcp --dport 443  -j ACCEPT
sudo netfilter-persistent save
</pre>

The job is running, now you can login from the browser, http://<public-ip>:5244 using
<pre class="prettyprint linenums">
username: admin
password: changeme
</pre>
You can also access http://&lt;public-ip&gt;:81 to set up proxy.

<h3>VNC</h3>
<ol>
<li>Set up the vncserver</li>
<pre class="prettyprint linenums">
sudo apt update
sudo apt install xfce4 xfce4-goodies firefox
sudo apt install tightvncserver
vncserver
vncserver -kill :1
cat ~/.vnc/xstartup
#!/bin/bash
XAUTHORITY=$HOME/.Xauthority
export XAUTHORITY
xrdb $HOME/.Xresources
startxfce4 &
vncserver
</pre>
<li>Allow vnc access in iptable</li>
<pre class="prettyprint linenums">
sudo iptables -I INPUT 6 -m state --state NEW -p tcp --dport 5901  -j ACCEPT
sudo netfilter-persistent save
</pre>
<li>Allow vnc access in OCI</li>
<li>Access from Finder: Finder -> Go -> Connecto to Server: vnc://&lt;public-ip&gt;:5901</li>

<h3>Disk space</h3>
<li>Increase disk space first</li>
<li>Rescan using the command, eg:</li>
<pre class="prettyprint linenums">
sudo dd iflag=direct if=/dev/oracleoci/oraclevda of=/dev/null count=1
echo "1" | sudo tee /sys/class/block/`readlink /dev/oracleoci/oraclevda | cut -d'/' -f 2`/device/rescan
</pre>
<li>grow the fs</li>
<pre class="prettyprint linenums">
sudo growpart /dev/sda 1
sudo resize2fs /dev/sda1
</pre>

<h3>Webssh</h3>
<li>Enable password login with 2FA</li>
<pre class="prettyprint linenums">
sudo tee /etc/ssh/sshd_config.d/60-cloudimg-settings.conf &lt;&lt; EOF
PasswordAuthentication yes
EOF
sudo passwd ubuntu
sudo apt install libpam-google-authenticator
sudo tee -a /etc/pam.d/sshd &lt;&lt;EOF
auth required pam_google_authenticator.so
EOF
sudo sed -i 's/KbdInteractiveAuthentication no/KbdInteractiveAuthentication yes/g' /etc/ssh/sshd_config
sudo systemctl restart ssh.service

</pre>
<li>Start docker with wetty</li>
<pre class="prettyprint linenums">
cat &gt; ssh.yaml &lt;&lt;EOF
name: ssh
networks:
  default:
    name: ssh
services:
  ssh:
    image: wettyoss/wetty
    container_name: ssh
    restart: always
    command: wetty --ssh-host=host.docker.internal --ssh-auth=keyboard-interactive
    extra_hosts:
      - "host.docker.internal:host-gateway"
EOF
docker compose -f ssh.yaml up -d
docker compose -f nginx.yaml up -d
https://ssh.<domain>/wetty
</pre>

{{template "footer" .}}
