{{template "header" .}}
<h1>Day 1: Raspberry Pi 5 Setup</h1>

There are different options to set up Raspberry Pi, but the easist is headless set up using <a href="https://www.raspberrypi.com/software/">Raspberry Pi Imager></a>, because it only requires a SSD and Power supply.

<h2>Step 1: Hardware Preparation</h2>

<ul>
<li>
Geekworm X1001: Buy from <a href="https://geekworm.com/products/x1001">Geekworm<a> or <a href="https://www.amazon.com/s?k=geekworm+x1001">Amazon</a>
</li>
<li>
Active Cooler: Buy from <a href="https://www.centralcomputer.com/raspberry-pi-active-cooler.html">Central Computer</a> or <a href="https://www.amazon.com/s?k=raspberry+pi+5+active+cooler">Amazon</a>
</li>
<li>
SSD: Buy from <a href="https://www.amazon.com/dp/B08V83JZH4">Amazon</a>
</li>
<li>
Case(Optinal): Buy from <a href="https://geekworm.com/products/p579">Geekworm</a> or <a href="https://www.amazon.com/s?k=geekworm+p579">Amazon</a>
</li>

<h2>Step 2: Hardware setup</h2>
Follow the video from geekworm to install the hardware https://youtu.be/XMA8e4r1AUQ

<h2>Step 3: Configuration</h2>
TODO

<a href="/pi/docker">Next: Day 3</a>
{{template "footer" .}}
