{{template "header" .}}

    <h1>Home</h1>
    <ul>
        <li><a href="/pi/setup">Day 1: Raspberry Pi 5 Setup</a></li>
        <li><a href="/pi/setup-with-ssd">Day 2: Raspberry Pi 5 with SSD</a></li>
        <li><a href="/pi/docker">Day 3: Docker on Raspberry Pi</a></li>
        <li><a href="/pi/earn">Day 4: Earn money with Raspberry Pi</a></li>
        <li><a href="/pi/photo">Day 5: Self hosted cloud storage for photos ith immich on Raspberry Pi</a></li>
        <li><a href="/pi/video">Day 6: Media Server with JellyFin on Raspberry Pi</a></li>
        <li><a href="/pi/download">Day 7: Download with Aria using Raspberry Pi</a></li>
        <li><a href="/pi/book">Day 8: Book Server with Alist on Raspberry Pi</a></li>
        <li><a href="/pi/nginx">Day 9: Public Access with Nginx Proxy Manager</a></li>
        <li><a href="/pi/home">Day 10: Home Page</a></li>
        <li><a href="/pi/oracle">Free Oracle VM</a></li>
	<li><a href="/pi/openwrt/dns">OpenWRT DNS</a></li>
	<li><a href="/pi/openwrt/shadowsocks">OpenWRT Shadowsocks</a></li>
    </ul>

{{template "footer" .}}
